################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CsiRH.Utils/bin
/CsiRH.Utils/obj
/CsiRHCommandConsole/bin/Debug
/CsiRHCommandConsole/obj/Debug
/CsiRHCommandConsole/obj/Release
/CsiRHManageLogConsole/bin/Debug
/CsiRHManageLogConsole/obj/Debug
/CsiRHManageLogConsole/obj/Release
/CsiRHOutput
/CsiRHReleaseOutput
/CsiRHService/bin
/CsiRHService/obj
/CsiRHUploadLogConsole/bin/Debug
/CsiRHUploadLogConsole/obj
/bak
/CsiRHCommandPlugin/obj
/CsiRHManageLogPlugin/obj
/CsiRHUploadLogPlugin/obj
/CsiRH.UnitTest/bin
/CsiRH.UnitTest/obj
.vs
.vs
/.vs
